# Virtual environment
c
.vscode
../.vscode

*.swp
*.pyc
*.sqlite3


.coverage

dump.rdb
celerybeat-schedule.db
celerybeat-schedule

migrations
media
static
/venv
../.vscode/BrandProtection/config/sikiru_settings.py